*
{
    /* General properties */
    margin: 0;
    padding: 0;

    /* Text properties */
    font-size: 20px;

    /* Border properties */
    border-style: solid;
    border-width: 1px;
}

body
{
    margin-left: 20vw;
    margin-right: 20vw
}

.header
{
    /* General properties */
    padding: 10px;

    /* Flex properties */
    display: flex;
    justify-content: space-between;
}

.header .addBookButton:active
{
    /* General Properties */
    background-color: rgb(75, 75, 75);
}

.library
{
    /* General properties */
    padding: 10px;

    /* Main grid proprties */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
}

.book
{
    /* General properties */
    width: auto;
    height: 300px;
    padding: 10px;
    justify-items: center;
    background-color: aqua;

    /* Sub grid properties */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.addBookForm
{
    /* General properties */
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    align-content: center;
    justify-items: center;
    padding: 20px;
    background-color: beige;

    /* Sub grid properties */
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.addBookForm.hide
{
    display: none;
}